# {{ ansible_managed }}

Host {{ mgmt_stack.stack_outputs.BastionIp }}
	User ec2-user
	IdentityFile ~/.ssh/justinkey-aws.pem
	ForwardAgent yes
	ControlMaster auto
	ControlPath ~/.ssh/ansible-%r@%h:%p
	ControlPersist 5m

Host 10.*.*.*
	User ec2-user
	ProxyCommand ssh -W %h:%p ec2-user@{{ mgmt_stack.stack_outputs.BastionIp }}
	IdentityFile ~/.ssh/justinkey-aws.pem
